<div class="app-dashboard">
  <div class="item">
    <h3 class="label">Submitted</h3>
    <div class="count">10</div>
  </div>
  <div class="item">
    <h3 class="label">Interview</h3>
    <div class="count">10</div>
  </div>
  <div class="item">
    <h3 class="label">Offer Sent</h3>
    <div class="count">10</div>
  </div>
  <div class="item">
    <h3 class="label">Hired</h3>
    <div class="count">10</div>
  </div>
  <div class="item">
    <h3 class="label">Rejected</h3>
    <div class="count">10</div>
  </div>
  <div class="item">
    <h3 class="label">Future Prospects</h3>
    <div class="count">10</div>
  </div>
</div>
